<a href="https://colab.research.google.com/github/Matthias186/Matthias186.github.io/blob/master/D_Region.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Install Packages

In [ ]:
#pip install pyarrow

# Import Packages

In [ ]:
import os
import json  
import pandas as pd

from datetime import datetime

from google.colab import drive
from google.cloud import bigquery
from google.oauth2 import service_account
from google.cloud.exceptions import NotFound

# Requirements

Get API Keys

https://jingsblog.com/2018/11/27/connect-your-jupyter-notebook-to-the-bigquery/

From File

In [ ]:
## If no automount 
#drive.mount('/content/drive')

## If automount
#os.environ['GOOGLE_APPLICATION_CREDENTIALS'] ='/content/drive/MyDrive/Colab Notebooks/DWH/data-warehouse-310713-374eceb69d9b.json'

From Dict

In [ ]:
BQ_API_DICT = {"type": "service_account",
               "project_id": "data-warehouse-310713",
               "private_key_id": "374eceb69d9b5d318bafcc58755575417239d5fc",
               "private_key": "-----BEGIN PRIVATE KEY-----\nMIIEvgIBADANBgkqhkiG9w0BAQEFAASCBKgwggSkAgEAAoIBAQCgPEV3mpHo3op9\nXcxObOK8VcJcUrIEbXnk7FsdLutG1jXpitEbMXdntV4EfpnESOzX1rQOfhlvkgiA\n4lZECz4UclFc0JuErWw59q1zPaZXfdEgK9Xy0x4m9z8m/5VfNdcWfhqZ1ETRl+6m\n1q0yxrenYf1UnJhfr70fw1WY+w1HHEsCAViJnNEMaITzU56Vr0n23SAlV8URc7Ij\ny5VOdKyzOwBzWU0aSXxFFXwEd95jjZ6pwpC0/wiz49Bfz1Ouv/VzeeLrDlmUlUPz\nbhvyQQiNafrr79gdUuSUgzxtwlFCijFq3kFG3XTS6kc1CsLVIxX8WYU/QAqCXfb1\nnLRDoCcxAgMBAAECggEAAzhtjaj/IWbbnLJrvpsZ9tQNwHeZrqoZRucTMQ52LxRz\nZ/ALd4LygJSYwPlfE3QDF+waQ/z30OdmoVnV3Fnnfldf2EA0Z/cTqO89btwAgbCn\nKSuIX3ArzSJZ/r7TRzht9ryZF0S4ugerhbyPJZPwhqjbA74pTSmwi44MTzNN1y3W\nYMtAaNYW1+n4FOPW517G8U3ENnfZK0Otv8Ovjhy9L3W1E6XayBDFkmhK4tMHrpGn\ngOzNWv6uZMSeK5Gnb5C8CQHmSeSvnHrI1sszR6CcCzm8TTJ9de8b3/Ol6/Gz2LT/\nvhd9nFfB9Efid4/KUFclvM+QGjuCm2x/O439YDobgwKBgQDf4pWERLWCkVFhR7uY\nMKg/Tx7ynwEQKCxRSNTTrezJKgeE11DA2Jc/4AZ5c6FgKg2or21erBrSATnjSjRS\noV6Yb+qQTbl5nL1uiHkN6P6/fJoCG45/t4EY3mWP7sbkE900N2odIKCKmivdDU30\nsBr6dNQMFSTdgI3jgBveEDfbmwKBgQC3OF7uARsRUpp+K7Cu/Zg631IUeNGs42m2\nST3UKZ/mFraqm25niev3K0OPEBfLsFksMBwxyFuik17BJ+i+7arHNxO4G+UedDgb\nmQMZV6N2euB0X3/ktJ4aBnpXer83ddccBXFpyzUdhjnpmUn2924hLIENZrDtJDGU\niLvWYqvzIwKBgQCA5u9ZAUpUS6DEVs2umU01bjOOU3gEOm0Ru9I1sizjwZwkoueu\nsMWclDqGEMo4GN5WYfKhkIu8n9IZiC7J6HkTYVR3ExkX6OO0UUUJej26OF5fmkgY\nRqpAjEODdGH1DW7N0p34+UEVrCBXHILmv8I4s60m68GW+p42/xqMZ2ARwwKBgDZ8\nI/bBC2yWVO0KTwtqzHdNa9o8p5WzNv+HPkS2cB97R6zqdeWCZVJmYjvL/FeNRKdY\nUzoWq/Fnw7jLBnKouK1vWoTYfsUUqI7EbOB/aFPWbKMOtziq4Y05ue4DyZNTjrl9\ngOGGFXCHNveZpx4zLGPfGS2ECT8sETZrhvhU9W9jAoGBAL1UD2OlbQXQ+D0G9SAK\n0f/FrJeAn0cZ+GubaOCmLExZPdOcQB8/s2SY2OyNZuaQ9m/LNTmVykk+1JZdFoWN\nnm1gYmYEte0gOK8IkYYVvJ/w+GM+RgkUvO+1Qof9e9lIIvGPbPlWdgC9mhAsaAf1\noCeiHEC0QLWMz9Vz0MXuyj9d\n-----END PRIVATE KEY-----\n",
               "client_email": "bq-colab@data-warehouse-310713.iam.gserviceaccount.com",
               "client_id": "113446945171794237674",
               "auth_uri": "https://accounts.google.com/o/oauth2/auth",
               "token_uri": "https://oauth2.googleapis.com/token",
               "auth_provider_x509_cert_url": "https://www.googleapis.com/oauth2/v1/certs",
               "client_x509_cert_url": "https://www.googleapis.com/robot/v1/metadata/x509/bq-colab%40data-warehouse-310713.iam.gserviceaccount.com"
               }

# Serializing json   
BQ_API_JSON = json.dumps(BQ_API_DICT, indent = 4)  

# Write TMP File
with open("data-warehouse-310713-374eceb69d9b.json", "w") as outfile: 
    json.dump(BQ_API_DICT, outfile)

# Set BQ API-Key to Environmet Variable
os.environ['GOOGLE_APPLICATION_CREDENTIALS'] ='data-warehouse-310713-374eceb69d9b.json'

Instantiates a client for BigQuery Service

In [ ]:
bq = bigquery.Client()

Create BQ Table if not exists

In [ ]:
table_id = 'Testing.Counting'
table_id_full = 'data-warehouse-310713.Testing.Counting'

In [ ]:
# Create Table
try:
    bq.get_table(table_id_full)  # Make an API request.
    print("Table {} already exists.".format(table_id_full))

    # If the table does not exist, delete_table raises
    # google.api_core.exceptions.NotFound unless not_found_ok is True.
    #bq.delete_table(table_id_full, not_found_ok=True)  # Make an API request.
    #print("Deleted table '{}'.".format(table_id_full))

except NotFound:
    print("Table {} is not found.".format(table_id_full))

    # Create Table
    schema = [
    bigquery.SchemaField("ID", "INTEGER", mode="REQUIRED"),
    bigquery.SchemaField("TIMESTAMP", "STRING", mode="REQUIRED"),
    ]
    
    table = bigquery.Table(table_id_full, schema=schema)
    table = bq.create_table(table)  # Make an API request.

Table data-warehouse-310713.Testing.Counting already exists.

# Extract

* DE.txt --> df_DE

In [ ]:
# path = '/content/drive/MyDrive/Data Warehouse/00_Sources/Region/DE.txt'
# df_DE = pd.read_csv(path, header=None, sep='\t',
#                     names= ['country_code',	'postal_code', 	'place_name',
#                             'admin_name1',	'admin_code1',	'admin_name2',
#                             'admin_code2',	'admin_name3',	'admin_code3',
#                             'latitude',	'longitude',	'accuracy'])
# #df_DE

* AuszugGV1QAktuell.xlsx --> df_GV

In [ ]:
# path = '/content/drive/MyDrive/Data Warehouse/00_Sources/Region/AuszugGV1QAktuell.xlsx'
# df_GV = pd.read_excel(path, sheet_name= 'Onlineprodukt_Gemeinden',header=5,
#                       names=['Satzart', 'Textkennzeichen',	'Land',	'RB',
#                              'Kreis',	'VB',	'Gem',	'Gemeindename',	'Flaeche',
#                              'Bevoelkerung_insgesamt',	'Bevoelkerung_maennlich',
#                              'Bevoelkerung_weiblich',	'Bevoelkerung_je_Flaeche',
#                              'Postleitzahl',	'Laengengrad',	'Breitengrad',
#                              'Reisegebiet_Schluessel',	'Reisegebiet_Bezeichnung',
#                              'Verstaeterung_Schluessel',	'Verstaedterung_Bezeichnung'])
# #df_GV

* data-warehouse-310713.Testing.Counting --> df

In [ ]:
# Query 
QUERY = """
SELECT * FROM `data-warehouse-310713.Testing.Counting`
"""
job = bq.query(QUERY)

#df.tail()

try:
  df = job.to_dataframe()
  last_value = df['ID'].iloc[-1]
  print('incremented')
except:
  last_value = 0
  print('table is empty')

# truncate df 
#df = pd.DataFrame(data={'ID': [1]})

incremented

# Transform

incremet ID

In [ ]:
#append
dateTimeObj = datetime.now()
timestampStr = dateTimeObj.strftime("%d-%b-%Y (%H:%M:%S.%f)")
df = df.append({'ID': last_value + 1, 'TIMESTAMP' : timestampStr},
               ignore_index=True)
df

    ID                      TIMESTAMP
0  1.0  26-Apr-2021 (17:40:34.436280)
1  2.0  26-Apr-2021 (17:41:34.129486)
2  3.0  26-Apr-2021 (17:43:44.669428)
3  4.0  05-May-2021 (15:41:41.599121)

# Load

In [ ]:
# dataset_id = 'data-warehouse-310713:DWH'
# project='data-warehouse-310713'
# dataset = bq.dataset(dataset_id=dataset_id, project=project)

In [ ]:
# truncate job
job_config = bigquery.LoadJobConfig(
    write_disposition=bigquery.WriteDisposition.WRITE_TRUNCATE,
    )

job = bq.load_table_from_dataframe(
    df, table_id, job_config=job_config
)

# Wait for the load job to complete.
job.result()

/usr/local/lib/python3.7/dist-packages/google/cloud/bigquery/_pandas_helpers.py:275: UserWarning: Unable to determine type of column 'TIMESTAMP'.
  warnings.warn(u"Unable to determine type of column '{}'.".format(column))

In [ ]:
print("forkin"+"me")

danach tmp file wieder l√∂schen